body {
  background-color: #e0ffff;
  color: black;
}

h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
  border-color: midnightblue;
  border-style: dotted;
  border-width: thick;
}

p {
  color: midnightblue;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  line-height: 35px;
}

h2 {
  color: darkmagenta;
  background-color: khaki;
  font-style: italic;
  display: inline-block;
}

nav {
  text-align: center;
}

nav li:hover > a {
  background-color: white;
}

ul {
  list-style: none;
}

li {
  display: inline;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: black;
}
